.web-input-method {
    background: #FFF;
    border: solid 1px #a98567;
    font-family: 'Arial';
    color: #1c074e;
    display: none;
}
.web-input-method .pinyin {
    border-bottom: solid 1px #B5C5D2;
    padding: 4px 10px;
    font-weight: bold;
}
.web-input-method .result {
    padding: 4px 10px 4px 0px;
}
.web-input-method .result ol {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
.web-input-method .result ol:after {
    content: '';
    display: block;
    clear: left;
}
.web-input-method .result ol li {
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.web-input-method .result ol li:first-child {
    color: red;
}
.web-input-method .page-up-down {
    display: inline-block;
    border: solid 1px #BADBFF;
    font-size: 12px;
    color: #4C9AEF;
    border-radius: 1px;
    margin-left: 10px;
}
.web-input-method .page-up-down .page-down{
    border-left: solid 1px #BADBFF;
}
.web-input-method .page-up-down span {
    cursor: pointer;
}
.web-input-method .page-up-down span.disable {
    opacity: .3;
}

.virtual_keyboard {
    background:rgba(229,230,232,1);
    position: fixed;
    bottom: 10px;
    width: 90%;
    height: 24%;
    display: none;
    -webkit-transition:all 1s ease 0;
}
.virtual_keyboard p {
    height: 22%;
}
.virtual_keyboard p input {
    margin-left: 1%;
    margin-right: 1%;
    outline: none;
    background:rgba(252,252,252,1);
    border: 0;
    width: 6.8%;
    height: 90%;
    border-radius: 0.3em;
    box-shadow: 0 1px 1px gray;
    font-weight: bolder;
}
.show_keyboard {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    outline: none;
    background: rgba(229,230,232,1);
    border: 0;
    font-family: "WenQuanYi Micro Hei";
    font-size: 13px;
    border-radius: 0.3em;
    box-shadow: 0 1px 1px gray;
    font-weight: bolder;
}
.show_keyboard:active {
    background: rgba(0,142,255,1);
    color:white;
}

.virtual_keyboard p input:active {
    background: rgba(0,142,255,1);
    color:white;
}
.virtual_keyboard p input.gray {
    background: rgba(192,195,200,1);
}
.virtual_keyboard p input.gray:active {
    background: gray;
}
.virtual_keyboard p input.del {
    width: 11.5%;
    margin-left: 3%;
}
